body {
	background-color: #E8DBC5;
	background-image: url("vacagrisa.png");

}
.gallery {
  margin: 70px;
  float: left;
  width: 300px;
}

.desc {
  padding: 15px;
  text-align: center;
}

form {
	text-align: left;
	font-family: Courier New;
	font-size: 15px;
}

input { 

  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}